 {% extends 'base.html' %}
 {% load static %}
        <!-- *********************************************************************
                                IMAGEN COLEGIO                                    
            ********************************************************************** -->
{%block content%}
            <link rel="stylesheet" href="{% static 'css/actividad.css' %}">
            <div class="imagen-colegio">            
              
            </div>
        

          
            <!-- *********************************************************************
                             AÑO DEPORTIVO                               
            ********************************************************************** --> 
            <section class="container1">
              <div class="deporte">
                <h1>Año Deportivo</h1>
                <p>Un par de eventos importantes en la agenda comunitaria del colegio, en los cuales las familias interactúan a través de juegos, diversión y muchas sorpresas.

                </p>
            </div>
                 <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/añodp1.jpg' %}" alt="">
                     </div>
    
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/añodp2.jpg' %}" alt="">
                     </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/añodp3.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/añodp4.jpg' %}" alt="">
                     </div>
                </div>             
            </section>  
 
            <!-- *********************************************************************
                              SEMANA SANTA                              
            ********************************************************************** --> 
            <section class="container1">
              <div class="deporte">
                <h1>Semana Santa</h1>
                <p>Bajo nuestra premisa espiritual ignaciana, la Semana Santa ocupa un espacio importante en nuestro calendario de actividades. El vía crucis, representado por estudiantes de la promoción, se ha transformado en un evento que integra a docentes y estudiantes, así como a vecinos de nuestro colegio, recuperando valores religiosos 
                  importantes para nuestra comunidad, y convirtiéndonos en referentes regional</p>
            </div>
                 <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/semana1.jpg'%}" alt="">
                     </div>
    
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/semana2.jpg'%}" alt="">
                     </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/semana3.jpg'%}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/semana4.jpg'%}" alt="">
                     </div>
                </div>             
            </section>  
               <!-- *********************************************************************
                            Dia DEL PADRE Y NIÑO                             
            ********************************************************************** --> 
            <section class="container1">
              <div class="deporte">
                <h1>Dia Del Padre</h1>
                <p>Un par de eventos importantes en la agenda comunitaria del colegio, en los cuales las familias interactúan a través de juegos, diversión y muchas sorpresas.

                </p>
            </div>
                 <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/dia.jpg"' %} alt="">
                     </div>
    
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/dia2.jpg' %}" alt="">
                     </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/dia3.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/dia4.jpg' %}" alt="">
                     </div>
                </div>             
            </section>  
{%endblock%}