{% extends 'base.html' %}
{%load static%}
               

{%block content%}

            <link rel="stylesheet" href="{% static 'css/infraestructura.css' %}">
        <!-- *********************************************************************
                                IMAGEN COLEGIO                                    
            ********************************************************************** -->
           <div class="imagen-colegio">            
              
           </div>
           
        <!-- *********************************************************************
                             Ambientes                                  
            ********************************************************************** -->
           <div class="Ambiente">
            <h1>Ambientes</h1>
            <p>Organizada en base a una estructura administrativa y académica que integra 
                diferentes instancias y programas destinados al desarrollo y fortalecimiento de 
                nuestra comunidad.</p>
        </div>
         <section class="container1">
             <div class="row">
                 <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/ambiente1.jpg' %}" alt="">
                 </div>

                 <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/ambiente2.jpg' %}" alt="">
                 </div>
        
                <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/Ascensor2020-07-14-1.jpeg' %}" alt="">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/ambiente3.jpg' %}" alt="">
                 </div>
            </div>
            <br>  
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">Siguiente</a></li>
                </ul>
                <hr>   
        </section>    
   
  
              
            <!-- *********************************************************************
                             AULA                                  
            ********************************************************************** --> 
        <section class="container1">
          <div class="aula">
            <h1>Aulas</h1>
            <p>Organizada en base a una estructura administrativa y académica que integra 
                diferentes instancias y programas destinados al desarrollo y fortalecimiento de 
                nuestra comunidad.</p>
        </div>
             <div class="row">
                 <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/aula.jpg' %}" alt="">
                 </div>

                 <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/aula2.jpg' %}" alt="">
                 </div>
        
                <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/aula3.jpg' %}" alt="">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 columna">
                    <img src="{% static 'img/aula4.jpg' %}" alt="">
                 </div>
            </div>
            <br> 
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">Siguiente</a></li>
                </ul>
                <hr>   
        </section>  
               <!-- *********************************************************************
                             ESPACIOS DEPORTIVOS                                
            ********************************************************************** --> 
            <section class="container1">
              <div class="deporte">
                <h1>Espacios Deportivos</h1>
                <p>Organizada en base a una estructura administrativa y académica que integra 
                    diferentes instancias y programas destinados al desarrollo y fortalecimiento de 
                    nuestra comunidad.</p>
            </div>
                 <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/deporte.jpg' %}" alt="">
                     </div>
    
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/deporte2.jpg' %}" alt="">
                     </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/deporte3.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/deporte4.jpg' %}" alt="">
                     </div>
                </div>
                <br> 
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">Siguiente</a></li>
                    </ul>
                    <hr>   
            </section>  
                    <!-- *********************************************************************
                             Bibliotecas                             
            ********************************************************************** --> 
            <section class="container1">
              <div class="biblioteca">
                <h1>Biblioteca</h1>
                <p>Organizada en base a una estructura administrativa y académica que integra 
                    diferentes instancias y programas destinados al desarrollo y fortalecimiento de 
                    nuestra comunidad.</p>
            </div>
                 <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/biblioteca.jpg' %}" alt="">
                     </div>
    
                     <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/biblioteca2.jpg' %}" alt="">
                     </div>
            
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/biblioteca3.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 columna">
                        <img src="{% static 'img/biblioteca4.jpg' %}" alt="">
                     </div>
                </div>
                <br> 
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">Siguiente</a></li>
                    </ul>
                    <hr>   
            </section>  
{%endblock%}    